.banner-div {
  background-color: gray;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom:solid 5px black ;
  width: 100%;
}
.img-banner{
  width: 100%;
  object-fit: cover;
  height: 10em
}

.banner-div h1 {
  font-family: "title-font";
  src: url(../../assets/fonts/Lora-Medium.ttf);
  text-align: center;
  text-decoration: underline;
}