.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-image: url('/src/assets/img/bulletin.webp');
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15%;
  width: 20em;
  height: 15em;
}

label {
  font-weight: bold;
  font-size: 1.5em;
}

p {
  font-weight: 600;
}
